$fuente: 'Overpass', sans-serif;
$color-texto:black;
$color-resaltar:purple;
$size-fuente-titulos: 3vw;
$size-fuente-peque: 1.098vw;
$size-fuente-mediano: 1.46vw;
$size-fuente-grande: 1.976vw;
$size-fuente-extra-grande:2.2vw;
$weight-normal:400;
$size-fuente-p-querys: 2.2vw;
$size-fuente-h-querys: 2.5vw;
$size-fuente-titulos-querys: 2.8vw;
